.header {
    padding: 61px 0 161px 0;
    width:  1365px;
    height: 605px;  
    background: #D52047;
}

.header_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_button {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
}

.main {
    padding-bottom: 100px ;
}

.main_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_text {
    width: calc(50% - 74px );
}

.main h2 {
    padding: 177px 431px 39px 431px;
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;
    display: flex;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main p {
    font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 150%;
/* or 36px */

text-align: center;

color: #FFFFFF;
}